<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <span class="fw-bold m-3">Market</span>
    </a>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">


        <ul class="navbar-nav">


            <li class="nav-item">  <a class="nav-link text-white"  routerLink="/login" >

                <i class="fa-solid fa-cart-shopping">{{conters}}</i>

            </a>
                
         
                </li>
           
            <li class="nav-item">
                <a class="nav-link text-white" routerLinkActive="fs-4" routerLink="/login" >login</a>
     
            </li>

         
            <li class="nav-item">
                <a class="nav-link text-white" routerLinkActive="fs-4" routerLink="/sign" >Signup</a>
            </li>
        </ul>
    </div>
</nav>